.course-list {
  margin: 20px;
}

.course-item {
  background-color: gray;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.course-item h2 {
  color: blue;
  font-size: 20px;
}

.course-item p {
  color: white;
  font-size: 16px;
}

/* Нет адаптивности для мобильных устройств */ 